@font-face {
    font-family: "Super Mario 256";
    src: url('SuperMario256.eot'); /* IE9 Compat Modes */
    src: url('SuperMario256.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         /*url('SuperMario256.woff2') format('woff2'), Super Modern Browsers */
         /*url('SuperMario256.woff') format('woff'), Pretty Modern Browsers */
         url('SuperMario256.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('SuperMario256.svg#svgSuperMario256') format('svg'); /* Legacy iOS */
}

*, html {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    width:800px;
    height:600px;
    background-color:black;
    position:absolute;
    display:flex;
    flex-direction:column;
}

.top-bar {
    background-color:yellow;
    height:15%;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:red;
}

.luigi {
    margin-left:8%;
    font-family:"Super Mario 256";
    font-size:360%;
}

.second-bar {
    height:50%;
    width:100%;
    background-color:red;
    display:flex;
    justify-content:center;
    align-items:center;
}

img {
    height:70%;
}

.third-bar {
    height:25%;
    width:100%;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.about-title {
    font-size:270%;
    font-family:"Super Mario 256";
    color:red;
}

.text-box {
    width:30%;
    height:40%;
    text-align:center;
    color:red;
}

.paragraph-text {
    font-size:100%;
    font-weight:bold;
    line-height: 4vh;
}

.bottom-bar {
    height:10%;
    width:100%;
    background-color:yellow;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    
}

.mushroom-img {
    margin-right:5%;
}

@media only screen and (max-width:800px) {
    .container {
        width:100%;
        height:80%;
        background-color:black;
        position:absolute;
        display:flex;
        flex-direction:column;
    }
    .luigi {
        margin-left:8%;
        font-family:"Super Mario 256";
        font-size:8vh;
    }
}