*, html {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#container {
    height:600px;
    width:800px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.row {
    height:300px;
    width:800px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.boxes {
    height:200px;
    width:200px;
    border:1px solid black;
    box-shadow:1px 1px 0 0;
    transition-property: all;
    transition-duration: .6s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

.boxes:hover {
    box-shadow: none;
}

.box1 {
    transition-duration: .4s;
}

.box1:hover {
    background-color:teal;
    border-radius:50%;
}

.box2 {
    transition-property:all;
    transition-duration:.7s;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box2:hover {
    background-color:red;
    border-radius:10%;
    margin-bottom:100px;
}

.box3 {
    transition-property:all;
    transition-duration:.7s;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
}

.box3:hover {
    transform:rotateZ(-180deg);
    background-color:rgba(76, 197, 237);
}

.box4 {
    transition:all .5s 0s cubic-bezier(1, 0, 0, 1);
}

.box4:hover {
    box-shadow:inset 0 0 0 10px green;
    transform:scale(.8)
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.box5 {

}

.box5:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count:1;
    background-color:rgba(71, 71, 244, 0.353);
}

.box6 {
    transition-property:all;
    transition-duration:.7s;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
}

.box6:hover {
    transform: rotate(90deg) scale(1.2) translateY(-50%) translateX(50%);
    background-color:gray;
}