body {
    background-color: #111111;
}

h1 {
    color:#E2E80F;
    text-align:center;
    font-size:35px;
}

p {
    color:#eeeeee;
    font-size:20px;
    line-height: 40px;
    padding:10px 10px 10px 10px;
}

span {
    color:rgb(48, 170, 247);
    text-decoration: underline;
}

#film-description {
    font-style:italic;
    font-size:14px;
}